.App {
  text-align: left;
  width: 18em;
  padding: 0.2em;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
  font-weight: bold;
  text-decoration: underline;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.vert-align{
  vertical-align: middle;
}

.typeCharacter{
  background-color: #97C5CF;
  /*color: white;*/

}

.typeCharacterLighterColor{
  background: #2FB9F7;
  padding: 0.4em;
  font-size: 14pt;
  /*color: white;*/
}

.SkillTreeSlotActive{
  padding: 2em;
  margin: 1em;
  background-color: turquoise;
  width: 3em;
}

.SkillTreeSlotInactive{
  padding: 2em;
  margin: 1em;
  background-color: lightgray;
  width: 3em;
}
